*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

:root{
    --brand-gree: hsl(170, 100%, 26%);
    
}




/* =====================================LAYOUT===================================== */

body{
    text-align: center;
}

#home{
    width: 23.43rem;
    margin-left: auto;
    margin-right: auto;
}

button{
    background-color: var(--brand-gree);
    border: none;
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

img{

}
