/*GERAL============================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

:root{
    
    --hue: 220;
    
    --primary-color: hsl(var(--hue), 100%, 26%);
    --headline: hsla(210, 11%, 15%, 1);
    --paragraph: hsla(210, 9%, 31%, 1);
    
    --brand-beige: hsla(39, 100%, 97%, 1);
    --brand-ligth: hsl(calc(var(--hue) - 22), 23%, 89%);
    --brand-green-ligth: hsl(calc(var(--hue) + 10), 14%, 97%);
    
    --brand-green-hover: hsl(var(--hue), 100%, 14%);
    
    font-size: 62.5%;/*1rem = 10px*/
    
    /*height nav*/
    --nav-height: 7.2rem
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
    text-align: center;
    font-family: 'DM Sans';
    font-size: 1.6rem;

    overflow: overlay;

    background-color: var(--brand-green-ligth);
}

.container{
    width: min(50rem, 100%);
    margin-left: auto;
    margin-right: auto;
    padding-inline: 2.4rem;
}



/*HOME============================================*/
#home::before{
    content: "";
    width: 100%;
    height: calc(76% + var(--nav-height));
    display: block;
    background-color: var(--brand-ligth);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


#home{
    padding-top: calc(4rem + var(--nav-height));
}


#home h4{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-bottom: 1.6rem;
}

#home h1{
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#home p{
    font-size: 1.8rem;
    color: var(--paragraph);
    line-height: 150%;
    margin-bottom: 3.2rem;
}


#home a.button{
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 700;

    width: 26.3rem;
    height: 6.2rem;
    
    border: none;
    border-radius: 4rem;
    
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;

    transition: background-color 0.2s;
}

#home a.button:hover{
    background-color: var(--brand-green-hover);
}

#home img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
}

#home{
    padding-bottom: 0;
}

.stats{
    width: 100%;
    padding-block: 4rem;
    margin-inline: auto;

    border-radius: 0.6rem;
    border: 1px solid var(--brand-ligth);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    background-color: var(--brand-beige);
}

.stat h3{
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.stat p{
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--primary-color);

}

/*SECTION=========================================*/

section{
    padding-block: 10rem;
}

section header h4{
    font-size: 1.4rem;
    letter-spacing: 0.08em;
    line-height: 150%;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

section header h2{
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);
    margin-bottom: 6rem;
}


/*NAV=============================================*/

nav{
    display: flex;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

nav .logo svg {
    width: 13.2rem;
    height: 1.73rem;
}

nav.scroll{
    background-color: var(--primary-color);
}

ul.nav-itens li a{
    font-size: 2.4rem;
    font-weight: 700;
    color: #FFFAF1;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .open-menu{
    background: none;
    border: none;
}

nav .open-menu svg path{
    stroke: var(--primary-color);
}

nav .logo svg path[fill*="#00856F"]{
    fill: var(--primary-color);
}

/*scroll*/

nav.scroll .open-menu{
    background-color: var(--primary-color);
}

nav.scroll .open-menu svg path{
 stroke: white;
}

nav.scroll .logo svg path{
    fill: white;
}

nav button{
    cursor: pointer;
}

nav .menu,
nav .close-menu{
    position: fixed;
}

/*MENU-EXPANDED=============================================*/

body.menu-expanded{
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: hidden;
}

.menu, 
.close-menu,
body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}


.menu{
    transform: translateY(100%);
}

body.menu-expanded .menu{
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;

    transition: transform 300ms;
    transform: translateY(0%);
}

body.menu-expanded .menu{
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

body.menu-expanded .menu .nav-itens{
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: calc(var(--nav-height) + 6rem);
}

body.menu-expanded .menu a.button{
    width: 27.4rem;
    height: 5.5rem;
    margin-inline: auto;

    
    border-radius: 4rem;
    border: none;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
} 

body.menu-expanded .menu a.button:hover{
    filter: brightness(1.1);
}

body.menu-expanded .social-links{
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    margin-top: 4rem;
}

body.menu-expanded .close-menu{
    background: none;
    border: none;
    position: relative;
    z-index: 10;
}

body.menu-expanded .logo{
    position: relative;
    z-index: 10;
}

body.menu-expanded nav .logo svg:nth-child(1) path{
    fill: white;
}

body.menu-expanded nav .logo svg:nth-child(2) path{
    stroke: white;
}


/*SERVICES=============================================*/

#services .service-itens{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#services .service-item svg path{
    stroke: var(--primary-color);
}

#services .service-item{
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    
    padding: 2.4rem;
    text-align: left;
    
    border: 1px solid var(--brand-ligth);
    border-radius: 0.6rem;
}

#services .service-item h4{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}


#services .service-item p{
    font-weight: 400;
    font-size: 1.6rem;
}

/*ABOUT===================================================*/


#about{
    text-align: left;
    background-color: var(--brand-beige);
}

#about h4 {
    margin-bottom: 1.6rem;
}
#about h2{
    margin-bottom: 2.4rem;
}

#about p{
    margin-bottom: 6rem;
}


/*CONTACT=======================================================*/

#contact{
    text-align: left;
    background-color: white;
}


.contact-details ul li a svg path{
    stroke: var(--primary-color);
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.contact-details a.button{
    margin-bottom: 6rem;
}

.contact-image{
    margin-top: 6rem;
}

.contact-image img{
    width: 32.4rem;
    height: 21.3rem;
}

#contact ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#contact ul li a{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--paragraph);
}

#contact a.button{
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 700;

    width: 26.3rem;
    height: 6.2rem;
    
    border: none;
    border-radius: 4rem;

    cursor: pointer;
    
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    
    transition: background-color 0.2s;
}

#contact a.button:hover{
    background-color: var(--brand-green-hover);
}

footer{
    text-align: left;
    padding-block: 6rem;
    background-color: var(--primary-color);
}

footer .logo{
    margin-bottom: 2.4rem;
}

footer .logo svg{
    width: 23.6rem;
    height: 3.1rem;
}

.copyright{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

footer p{
    color: var(--brand-beige);
}

footer ul{
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

#backToTop{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: 300ms;
}

#backToTop svg circle{
    fill: var(--primary-color);
}

#backToTop.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


/*RESPONSIVE ==============================================================*/

@media (min-width: 1024px) {
    

    /*GERAL===========================================================*/

    body{
        overflow: auto;
    }

    .container{
        width: min(112rem, 100%);
        display: grid;
        
    }

    section{
        padding-block: 16rem;
    }

    section header h2,
    section h2{
        font-size: 4rem;
        line-height: 5.2rem;
    }

    /*NAV===========================================================*/
    
    nav .container *{
        margin: 0;
        padding: 0;
        visibility: initial;

        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        transform: initial;
        color: initial;
        background-color: initial;
        filter: initial;
    }

    nav .open-menu,
    nav .close-menu,
    nav .social-links{
        display: none;
    }

    nav .container{
        display: flex;
        gap: 25.5rem;
    }

    nav .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }

    nav .menu .nav-itens{
        display: flex;
        gap: 3.2rem;

    }

    nav .menu ul.nav-itens li a{
        color: var(--primary-color);
        font-size: 1.6rem;
        opacity: 0.7;
        font-weight: 400;

        transition: opacity 0.3s;

    }

    nav .menu ul.nav-itens li a.active,
    nav .menu ul.nav-itens li a:hover{
        font-weight: 700;
        opacity: 1;
    }

    nav .menu ul.nav-itens li a::after{
        content: "";
        width: 0%;
        height: 2px;
        background-color: var(--primary-color);

        position: relative;
        bottom: -2rem;
        left: -0.6rem;

        display: block;

        transition: width 0.2s;
    }

    nav .menu ul.nav-itens li a.active::after,
    nav .menu ul.nav-itens li a:hover::after{
        width: 100%;
        padding-inline: 0.5rem;   
    }

    nav.scroll .menu ul.nav-itens li a.active::after,
    nav.scroll .menu ul.nav-itens li a:hover::after{
        background-color: white;
        font-weight: 700;
    }

    nav .menu a.button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.4rem;

        font-size: 1.4rem;
        font-weight: 700;
        color: var(--primary-color);

        border: 1px solid var(--primary-color);
        border-radius: 4rem;

        transition: 0.3s;
    }

    nav.scroll ul.nav-itens li a{       
        color: var(--brand-green-ligth);
        opacity: 0.6;
    }

    nav.scroll .menu a.button{
        border-color: white;
        color: white;
    }


    nav .menu a.button:hover{
        background-color: var(--primary-color);
        color: var(--brand-green-ligth);
    }

    nav.scroll a.button:hover{
        background-color: var(--brand-green-ligth);
        color: var(--primary-color);
    }


    /*HOME===========================================================*/

    #home::before{
        height: calc(94% - var(--nav-height));
    }

    #home{
        padding-top: var(--nav-height);
    } 

    #home .container{
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas: 
        'A B'
        'C C';
    }

    #home .col-a{
        grid-area: A;
        text-align: left;
        align-self: center;
    }

    #home h1{
        font-size: 5.2rem;
    }

    #home p{
        font-size: 1.8rem;
    }

    #home .col-a .content .button{
        margin: 0;
    }

    #home .col-b{
        grid-area: B;
    }

    #home .stats{
        grid-area: C;
        flex-direction: row;
        padding: 6rem;
        gap: 0;
    }

    #home .stats .stat + .stat{
        border-left: 1px solid var(--primary-color);
    }

    #home .stats .stat{
        flex: 1;
    }

    #home img{
        width: 42rem;
    }

    /*SERVICES===========================================================*/

    #services h2{
        width: 49.7rem;
        margin-inline: auto;
    }

    #services .service-itens{
        flex-direction: row;
        flex-wrap: wrap; 
        gap: 4rem;
    }

    #services .service-item{
        width: 30%;
        flex-grow: 1;
    }

    /*ABOUT===========================================================*/

    #about .container{
        grid-template-columns: 48rem 1fr;
        grid-template-areas: 'A B';
        gap: 6.7rem;
    }


    #about .col-a{
        grid-area: B;
        align-self: center;
    }

    #about .col-b{
        grid-area: A;
    }

    #about .content p{
        margin-bottom: 0;
    }

    #about img{
        width: 48rem;
        height: 41.4rem;
    }


    /*CONTACT===========================================================*/
    
    #contact .container{
        grid-template-columns: 1fr 57.5rem;
        grid-template-areas: 'A B';
        gap: 14.1rem;
    }

    #contact .col-b{
        grid-area: B;
    }

    #contact .col-a{
        grid-area: A;
        align-self: center;
    }

    #contact img{
        width: 57.5rem;
        height: 37.9rem;
    }

    /*FOOTER===========================================================*/


    footer{
        padding-block: 8rem;
    }

    footer .container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B'; 
    }

    footer p {
        margin-bottom: 0;
    }

    footer .col-a{
        grid-area: A;
        align-self: center;
    }

    footer .col-b{
        grid-area: B;
        align-self: center;
        justify-self: flex-end;
    }

}